@media screen and (min-width: 1200px){ 
    
    
    #banner{
        display: block;
        color: var(--white);
        background: var(--green) url(../images/button_wave.svg) no-repeat;
        text-align: center;
        padding: 10px;
        width: 100%;
        align-items: center;
        margin: 0;
        
    
    }
    
    body{
        margin: 0;
        font-size: 1rem;
    }

    .container {
        width: 60%;
        margin: auto;
    }    

    body header nav{
        width: 60%;
        margin: auto;
    }


    .burger{
        display: none;
    }


    body header ul{
        display: flex;
        gap: 15px;
        list-style: none;
    }

    body header ul a {
        text-decoration: none;
        color: var(--gray-dark)
    }

    h1{
        text-align: left;
        font-size: 4rem;
    }

    main section:nth-child(1){
        display: flex;
        text-align: left;
        align-items: center;
        gap: 50px;
        margin-bottom: 50px;

        
    }

    main section:nth-child(1) img{
       width: 90%;
       
    }

    main section:nth-child(1) h1,
    main section:nth-child(1) p,
    main section:nth-child(2) .btnblue{

        text-align: left;
        align-items: center;
        
        
    }

    .btnblue{
        margin: 50px 0 0 0 !important;
        width: 20%;
        display: block;
        
    }

    main section:nth-child(2){
        display: flex;
        text-align: left;
        align-items: center;
        }

    main section:nth-child(2) h2,
    main section:nth-child(2) p,
    main section:nth-child(2) .btnblue{

        text-align: left;
        align-items: center;
        
        }

    main section:nth-child(1) div,
    main section:nth-child(2) div{
        margin-left: 80px;
            
        }

    main section:nth-child(2) img{
        margin-right: 80px;
    }


    #Title2{
        text-align: center;
        size: 3rem;
    }


    .section3{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px;
    }

    .section3 div img{
        width: 50%;
    }

    footer{
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


}