@media screen and (min-width: 1200px){ 
    
    :root {
        --white: #ffffff;
        --gray-light: #f5fbfc;
        --gray-dark: #08090a;
        --green: #35b8be;
        --green-dark: #1b9097;
        --green-light: #f5fbfc;
        --blue-dark: #546285;
        --banned: url()
    }
    
    
    #banner{
        background: var(--green) url(../images/button_wave.svg) no-repeat;
        text-align: center;
        font-size: 0.8rem;
    }
    
    body{
        margin: 0;
        font-size: 1rem;
    }

    .container {
        width: 60%;
        margin: auto;
    }    

    body header nav{
        width: 60%;
        margin: auto;
    }


    .burger{
        display: none;
    }


    body header ul{
        display: flex;
        gap: 15px;
        list-style: none;
    }

    body header ul a {
        text-decoration: none;
        color: var(--gray-dark)
    }

    h1{
        text-align: left;
        font-size: 4rem;
    }

    main section:nth-child(1){
        display: flex;
        text-align: left;
        align-items: flex-start;
        gap: 80px;

        
    }

    main section:nth-child(1) img{
       width: 90%;
       
    }

    main section:nth-child(1) h1,
    main section:nth-child(1) p,
    main section:nth-child(1) a{
        
        text-align: left;
        
        
    }

    .btnblue{
        margin: 50px 0 0 0;
        width: 20%;
        
    }

    main section:nth-child(2){
    display: flex;
    }
}